.App {
  text-align: center;
  /* background-image: url("https://scontent.fbkk18-1.fna.fbcdn.net/v/t1.0-9/32405496_484031932000104_1610397145821609984_o.jpg?_nc_cat=105&oh=272b430bad941757db12828c7f091362&oe=5C272DD4"); */
  /* background-size: cover; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
 .activeCard {
  color: red;
  background: pink;
 }
 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
