.App {
  text-align: center;
  background-image: url("pun8.jpg");
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(12, 30, 189);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(74, 75, 148, 0.2);
  background: lightgray;
  margin: 1em;
  user-select: none;
 }
 .activeCard {
  color: red;
  background: rgb(29, 189, 29);
 }
 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Number{ 
      color: red; 
    } 
again{ 
      color: black; 
      background: red; 
      box-shadow: 0 4px 8px 0 rgba(0,150,0,1); 
} 
.status{ 
      display: inline-block; 
      text-align: center; 
      width:15em;  
      font-size: 2em; 
      box-shadow: 0 10px 8px 0 rgba(0,0,0,1); 
      margin: 1em; 
      user-select: none;
      border-radius: 30px; 
} 
      