.App {
  text-align: center;
  background-image: url("pun8.jpg");
  /* background-size: cover; */
  /* background-position: right center; */
background-position: 50% 50%;
/* background-position: 20px 40px; */
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: lightgray;
  margin: 1em;
  user-select: none;
 }
 .activeCard {
  color: red;
  background: pink;
 }
 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Number{ 
      color: red; 
    } 
    again{ 
          color: black; 
          background: red; 
          box-shadow: 0 4px 8px 0 rgba(0,150,0,1); 
        } 
        .status{ 
          display: inline-block; 
          text-align: center; 
          width:15em;  
          font-size: 2em; 
          box-shadow: 0 10px 8px 0 rgba(0,0,0,1); 
       margin: 1em; 
        user-select: none; 
        } 
      